# front 
FRONT_PORT=votre_numéro_port

# back
BACK_PORT=votre_numéro_port

# MySQL 
MYSQL_ROOT_PASSWORD=nom_root_password
MYSQL_DATABASE=nom_bdd
MYSQL_USER=nom_utilisateur
MYSQL_PASSWORD=votre_mot_de_passe
MYSQL_HOST=nom_host
DATA_PORT=votre_numéro_port
MY_ADMIN_PORT=votre_numéro_port

# mongoDB
MONGODB_URL=mongodb://MONGODB_USER:MONGODB_PSW@MONGODB_SERVER:MONGODB_PORT
MONGODB_PORT=votre_numéro_port
MONGODB_EXPRESS_PORT=votre_numéro_port
MONGODB_SERVER=nom_serveur
MONGODB_USER=nom_utilisateur
MONGODB_PSW=mot_de_passe_utilisateur

# brevo récupérer les infos dans brevo/settings/SMTP et API
SMTP_HOST=serveur brevo
SMTP_PORT=port
SMTP_USER=connexion 
SMTP_PASS=clée SMTP
MAIL_FROM=mail
MAIL_FROM_NAME="Vite et Gourmand"

ALLOWED_ORIGINS=adresse du site